# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# VS / Rider
*.csproj
*.unityproj
*.sln
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Unity meta handling
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.dbRecordings/
Assets/TerrainSampleAssets/
Assets/Snow Mountain/Source/
Recordings/
Assets/TextMesh Pro/Examples & Extras/
!Assets/TextMesh Pro/Resources/